
		body{
			background-color: LightGray;
			font-family: Georgia;

		}
		p{
			padding-left: 20px;
			color: white;
			background-color: black;
			border-radius: 10px;
			margin: 18px;	
		}	
		img{
			border-radius: 10px;
			width: 300px;

		}